$primary: #003594;
$primary-light: #e5efff;

// Theme fonts
$font-family-title: 'Barlow', sans-serif;;
$serif: 'Merriweather', serif;
$f-sans-serif: 'Barlow', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

$drak: #111827;
$light-drak: #374151;
